@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Work+Sans:ital,wght@0,100;0,400;0,500;0,700;0,900;1,500&display=swap");

* {
  font-family: "Work Sans", sans-serif;
  margin: 0;
}
nav {
  display: flex;
  justify-content: space-between;
  width: auto;
  height: 80px;
  padding: 30px 40px;
}
.navimg {
  display: flex;
  justify-content: space-between;
}
nav span {
  color: #ff42a5;
}
nav ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
}
nav img {
  height: 40px;
  width: 86px;
  margin-right: 20px;
}
.container {
  display: flex;
  margin-right: 240px;
  height: 500px;
}
.container div {
  width: 50%;
}
.left-goat {
  background-image: url("/images/Group 14.png");
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.left-goat h2 {
  color: #0b0223;
  font-size: 48px;
  font-weight: 600;
}
.left-goat h1 {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 5rem;
  font-weight: 800;
}
.left-goat p {
  color: #534c64;
  font-size: 1rem;
  font-weight: 500;
  padding: 3px;
}
.right-image {
  display: flex;
  justify-content: flex-end;
}
.right-image img {
  height: 100%;
}
.button {
  padding: 21px 40px;
  margin-top: 10px;
  gap: 10px;
  border-radius: 48px;
  background: var(--linear, linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%));
  color: #fff;
  border: 0;
}
.button2 {
  background: #4ec5f7;
}
/* Carde Section */
.cardsection {
  margin: 50px 240px;
}
.cardsection span {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Work Sans;
  font-size: 48px;
  font-weight: 700;
}
.cardsection h2 {
  color: #0b0223;
  text-align: center;
  font-size: 48px;
  font-weight: 700;
}
.cardsection > p {
  color: #534c64;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
  padding-bottom: 30px;
}
.img-container p {
  color: #534c64;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
  padding-bottom: 30px;
}
.img-container {
  display: flex;
  justify-content: space-evenly;
}
.img-container div {
  width: 25%;
}
.img-container div img {
  width: 90%;
  height: 300px;
}

/* Play Container */
.play_container {
  display: flex;
  justify-content: center;
  position: relative;
  padding-top: 10px;
}
.play_container-text {
  justify-content: center;
  align-items: center;
  text-align: right;
  margin-right: 15rem;
  padding-top: 100px;
  padding-left: 90px;
}
.overlap-image {
  position: relative;
}
.play_container-text h2 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 60px; /* 125% */
}
.play_container-text span {
  color: #ff42a5;
}
.play_container-text p {
  color: #534c64;
  font-size: 1rem;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
}
.play_container img {
  width: 100%;
}
.play_container .first {
  width: 80%;
  height: 90%;
  border-radius: 8px;
}
.play_container .second {
  border-radius: 8px;
  width: 250px;
  height: 280px;
  position: absolute;
  bottom: -20px;
  left: -110px;
}

/* 2nd Last section */
.containerOfSmallImage {
  align-items: center;
  justify-content: center;
  margin-top: 150px;
  height: 250px;
  background: linear-gradient(
    90deg,
    rgba(255, 66, 165, 0.03) 0%,
    rgba(255, 66, 165, 0.03) 100%
  );
  padding-top: 80px;
}
.firstrow,
.secondrow {
  display: flex;
  align-items: center;
  justify-content: center;
}
.signle {
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 50px;
  background: #fff;
  margin: 15px;
}
.signle:hover {
  border: 2px solid #ff42a5;
}
.signle img {
  width: 60px;
  height: 60px;
  border-radius: 50px;
}
.signle p {
  color: #0b0223;
  font-size: 20px;
  font-weight: 600;
  margin-left: 16px;
}

/* Fooler Section */
.footerdesign {
  display: flex;
  justify-content: center;
  padding-bottom: 15px;
}
.footerdesign span {
  padding-left: 20px;
  color: #ff42a5;
}
.footerdesign h2 {
  color: #fff;
  font-size: 45px;
  font-weight: 700;
}
.footerContainer {
  height: 280px;
  background: #0b0223;
  padding: 100px 300px;
}
.footerContainer div ul {
  padding-top: 30px;
  display: flex;
  justify-content: center;
  padding: 10px;
}
.footerContainer li {
  list-style: none;
  padding-left: 50px;
}
.footer-text {
  color: #fff;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
}

.footer-text-second,
footer p {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  font-weight: 500;
}
footer p {
  text-align: center;
  padding-top: 5px;
}
.icon {
  padding-top: 30px;
  padding-bottom: 30px;
}
.iconeSize {
  font-size: 1.5rem;
}
